/* Design tokens */
:root {
  --text-color: #101c20;
  --link-color: hsla(244, 16%, 17%, 0.95);
  --background-color: white;
}
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family:"Poppins", serif;
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  transition: border-color ease-in-out 0.3s;
}
a:hover,
a:focus {
  color: var(--brand);
  border-color: currentColor;
}
/* Site header and navigation */
body > header {
  background: var(--paper);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav ul {
  display: flex;
  list-style: none;
  gap: var(--gap);
}

/* Text readability */
section p {
  line-height: 1.5;
  max-width: 55ch;
}
